* {
  padding: 0px;
  margin: 0px;
}
#profile {
  width: 100%;
  height: 600px;
  display: flex;
}

#profile_image {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#like_profile {
  width: 27px;
  height: 27px;
  color: black;
  position: relative;
  display: flex;
  bottom: 430px;
  right: -40px;
}

#profile_price {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.slider {
  height: 440px;
  position: absolute;
}

#slider_navigation {
  height: 300px;
  width: 440px;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation_button {
  font-size: 50px;
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
  opacity: 10%;
  margin: 0 5px;
  height: 100px;

  text-align: center;
  border-radius: 10%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.navigation_button:hover {
  opacity: 30%;
}

#slider_indicator {
  width: 350px;
  height: 50px;
  position: relative;
  z-index: 4;
  top: 240px;
  display: flex;
  background-color: rgb(226, 226, 226);
  align-items: center;
  justify-content: center;
}

.slider_indicator_image {
  margin-left: 10px;
  border-radius: 10%;
  border: 1.3px rgb(226, 226, 226) solid;
}

#profile_price > p {
  height: auto;
  font-family: "poppins";
  font-size: 22px;
  width: 80%;
}

#profile_price > button {
  width: 40%;
  height: 60px;
  margin: 12px;
  background-color: black;
  color: aliceblue;
  border-radius: 40px;
}

@media screen and (max-width: 800px) {
  #profile {
    min-height: 1200px;
    height: auto;
    flex-direction: column;
  }

  #profile_image {
    width: 100%;
    min-height: 500px;
    height: auto;
    background-color: rgb(255, 255, 255);
  }

  #like_profile {
    width: 27px;
    height: 27px;
    color: black;
    position: relative;
    display: flex;
    bottom: 390px;
    right: -10px;
  }

  #profile_price {
    width: 100%;
    min-height: 600px;
    height: auto;
    background-color: rgb(255, 255, 255);
    align-items: center;
  }

  .slider {
    height: 360px;
  }

  #slider_navigation {
    height: 300px;
    width: 360px;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
